*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: #f8f8f8 ;

    padding: 0.05px;

    /* position: relative; */
}

/* Nav Related Styles */
nav{
    height: 10vh;
    width: 100%;
    margin-top: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
    
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;

    

}

nav h2{
    width: 20%;
    font-family: monument;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -1px;
    

    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 50px;
}

nav h3{
    width: 25%;
    height: 100%;
    font-size: 24px;
    font-weight: 600;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border-right: 2px solid #000;
    padding-right: 50px;
}

nav h3:nth-last-child(1){
    width: 8%;
}

nav h3:nth-last-child(2){
    width: 30%;
}


/* Banner Related Styles */

#banner{
    width: 100%;
    height: 90%;
    padding: 8vh;
}

#content{
    height: 100%;
    width: 100%;
}

#content video{
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: relative;
}

/* Overlay in Banner Video Styles */

#overlay{
    width: 100%;
    height: 45%;
    background-color: red;
    background-color: rgba(0, 0, 0, 0.15);

    position: relative;
    bottom: 46%;
}

#overlay-1{
    color: #f8f8f8;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 0px;

    border-bottom: 2px solid #f8f8f8;
}

#overlay-1 h1{
    font-size: 45px;
    font-weight: 600;
    font-family: monument;
    margin-left: 50px;
}

#overlay-1 h2{
    font-size: 28px;
    font-weight: 500;
    margin-right: 50px;

    width: 40px;
    height: 40px;
    border-radius: 50%;

    padding: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: 1px solid #f8f8f8 ;

    cursor: pointer;
}

#overlay-2{
    color: #f8f8f8;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#overlay-2 h3{
    font-size: 20px;
    font-weight: 600;
    margin-left: 50px;
}

#overlay-2 img{
    font-size: 28px;
    font-weight: 500;
    margin-right: 55px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Scroll related styles */

#scroll{
    width: 100%;
    height: 40vh;
    white-space: nowrap;
    
    overflow-x: hidden;
    overflow-y: hidden;

    
}

#container{
    width: 110%;
    height: 100%;

    padding: 2vw;

    display: inline-block;

    /* position: relative; */

    animation-name: auto-scrolling;
    animation-duration: 10s;
    animation-delay: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

#container img{
    width: 150px;
    height: 150px;
    border-radius: 50%;

    margin: 0px 40px;

    object-fit: cover;
    object-position: center;
}

@keyframes auto-scrolling {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

/* Alphabets Related Styles */

#alphabets{
    width: 100%;
    height: 15vh;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5px;

    border-top: 2px solid #000;
    border-bottom: 2px solid #000;

}

#alphabets h5{
    font-size: 28px;
    letter-spacing: 5px;
    text-decoration: underline;
    font-style: italic;
    font-weight: 500;

    margin-right: 50px;
}

#alphabets h6{

    width: 30px;
    height: 30px;
    border-radius: 50%;

    margin-right: 10px;
    padding: 10px 15px;

    font-size: 20px;
    font-weight: 400;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: ease;
    cursor: pointer;

}
#alphabets h6:hover{
    border: 1px solid gray;

}

/* Second Page Related Styles */

#page2{
    width: 100%;
    height: 90%;

    padding: 40px 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;


}
#page2-part-1{
    width: 55%;
    height: 100%;

    margin-right: 20px;
}
#page2-part-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page2-part-2{
    width: 45%;
    height: 100%;
}

#page2-part-2 img{
    width: 100%;
    height: 70%;
    object-fit: cover;
}

#part2-text{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px; 

    position: relative;
}
#part2-text h3{
    font-size: 20px;
    letter-spacing: 2px;
    margin-right: 20px;

}

#part2-text p{
    font-size: 16px;
    text-align: justify;
    
}

/* Third Page Related Styles */

#page3{
    width: 100%;
    height: 90%;

    padding: 40px 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page3-part1{
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
}

#page3-part1 h2{
    font-family: monument;
    font-size: 48px;
    margin-top: 20px;
}

#page3-part1-img{
    padding-left: 20%;
    margin-top: 50px;
}

#arrow{
    width: 100px;
    height: 100px;

    position: absolute;
    top: 38%;
    left: 40%;
}

#page3-part1 h3{
    font-size: 24px;
    font-weight: 500;
    word-spacing: 5px;

    margin-left: 40px;
    margin-bottom: 70px;
    padding-top: 50px;
}


#page3-part2{
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 30px 0px;
    
}

#page3-part2 img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    border-radius: 5px;

}

/* Fourth Page Related Styles */

#page4{
    width: 100%;
    height: 100%;
    padding: 40px 50px;
    position: relative;
}

#page4-img{
    width: 100%;
    height: 100%;

    background-image: url("https://media.istockphoto.com/id/1080910832/photo/young-stylish-businessman-having-takeaway-coffee.jpg?s=2048x2048&w=is&k=20&c=0f8low-8AGzymLmj0SSgwC_5JW2Mg0AHTC5rSA6rACA=");

}

#page4-overlay{
    position: absolute;
    bottom: 80%;
    left: 90%;

}

#page4 h2{
    width: 60px;
    height: 60px;

    padding: 10px 15px;
    border-radius: 50px;
    border: 1px solid gray;

    font-size: 25px;
    font-weight: 400;
    color: aliceblue;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Update Section Related Styles */

#update{
    width: 100%;
    height: 100%;
    padding: 40px 50px;
}

#update-title{
    font-size: 48px;
    font-family: monument;
    text-align: center;
    text-transform: uppercase; 
    margin-bottom: 60px;
}

.update-category{
    width: 100%;
    display: flex;
    align-items: center;;

    padding: 30px 20px;
    border-top: 2px solid black;

}

.fashion-category{
    width: 30%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.fashion-category h3{
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;

    text-transform: uppercase;
}

.fashion-category img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.fashion-category h2{
    font-weight: 600;
    margin-left: 250px;
}

#exclusive{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category-details{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 20%;
}

.brand-name{
    font-size: 40px;
    font-weight: 600;
}

.release-date{
    font-size: 18px;
    font-weight: 500;
}

/* Premier Models 2020 Scroller Related Styles */

#premier-scroller{
    margin: 50px 0;
    width: 100%;
    height: 20vh;
    white-space: nowrap;
    
    overflow-x: hidden;
    overflow-y: hidden;

    border-top: 2px solid black;
    border-bottom: 2px solid black;

    
}

.premier-container{
    width: 110%;
    height: 100%;

    font-size: 80px;
    color: gainsboro;
    margin-bottom: 20px;

    display: inline-block;

    /* position: relative; */

    animation-name: auto-scrolling;
    animation-duration: 10s;
    animation-delay: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;


}

.premier-container h2{
    margin-bottom: 50px;
}

/* Footer related style */
footer{
    height: 40%;
    width: 100%;

    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-left: 50px;
    
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    

    

}

footer h2{
    width: 20%;
    font-family: monument;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -1px;
    

    display: flex;
    align-items: start;
    justify-content: center;


    padding: 30px 0px 100px 50px;
}

footer h3{
    width: 20%;
    height: 100%;
    font-size: 24px;
    font-weight: 600;
    
    display: flex;
    align-items: start;
    justify-content: center;

    border-right: 2px solid #000;
    
    padding-top: 40px;
    /* padding: 30px 0px 100px 50px; */
}

.footer-last-right{
    width: 50%;
    height: 100%;
    font-size: 24px;
    font-weight: 600;
    
    display: flex;
    flex-direction: column;
    justify-content: start;

    
    padding: 40px 0px 100px 0px;


}

.footer-last-right h4{
    border-bottom: 2px solid black;
    padding-bottom: 50px;
    padding-left: 50px;
}

.footer-last-right p{
    padding-left: 50px;
    font-size: 18px;
    font-weight: 400;
}

#social-icons{
    padding: 30px 0px 30px 50px;
    font-size: 24px;
    font-weight: 400;
}

