*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    height: 100%;
    background-color: #f8f8f8 ;

    padding: 0.05px;

    position: relative;
}

/* Nav Related Styles */
nav{
    height: 10vh;
    width: 100%;
    margin-top: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
    
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;

    

}

nav h2{
    width: 20%;
    font-family: monument;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -1px;
    

    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 50px;
}

nav h3{
    width: 25%;
    height: 100%;
    font-size: 24px;
    font-weight: 600;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border-right: 2px solid #000;
    padding-right: 50px;
}

nav h3:nth-last-child(1){
    width: 8%;
}

nav h3:nth-last-child(2){
    width: 30%;
}


/* Banner Related Styles */

#banner{
    width: 100%;
    height: calc(100% - 10vh - 40px);
    padding: 8vh;
}

#content{
    height: 100%;
    width: 100%;
}

#content video{
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: relative;
}

/* Overlay in Banner Video Styles */

#overlay{
    width: 100%;
    height: 45%;
    background-color: red;
    background-color: rgba(0, 0, 0, 0.15);

    position: relative;
    bottom: 46%;
}

#overlay-1{
    color: #f8f8f8;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 0px;

    border-bottom: 2px solid #f8f8f8;
}

#overlay-1 h1{
    font-size: 45px;
    font-weight: 600;
    font-family: monument;
    margin-left: 50px;
}

#overlay-1 h2{
    font-size: 28px;
    font-weight: 500;
    margin-right: 50px;

    width: 40px;
    height: 40px;
    border-radius: 50%;

    padding: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: 1px solid #f8f8f8 ;
}

#overlay-2{
    color: #f8f8f8;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#overlay-2 h3{
    font-size: 20px;
    font-weight: 600;
    margin-left: 50px;
}

#overlay-2 img{
    font-size: 28px;
    font-weight: 500;
    margin-right: 55px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Scroll related styles */

#scroll{
    width: 100%;
    height: 25%;
    white-space: nowrap;
    
    overflow-x: hidden;
    overflow-y: hidden;

    
}

#container{
    width: 110%;
    height: 100%;
    background-color: blue;

    padding: 1vw;

    display: inline-block;

    position: relative;

    animation-name: auto-scrolling;
    animation-duration: 10s;
    animation-delay: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

#container img{
    width: 150px;
    height: 150px;
    border-radius: 50%;

    margin: 35px;

    object-fit: cover;
    object-position: center;
}

@keyframes auto-scrolling {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
